* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the header */
header {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Styling the main content */
main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.contact-info{
    margin-left: 150px;
}
.contact-info, .contact-form {
    margin-top: 100px;
    flex-basis: 45%;
}

.contact-info h2, .contact-form h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-info p {
    color: rgb(192, 125, 136);
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-info ul {
    font-size: 20px;
    list-style: none;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-form form {
    max-width: 400px;
}

.contact-form label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color:black;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: rgb(192, 125, 136);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* Styling the footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 10px;
}